<nav class="navbar-default" role="navigation">

  <ul class="nav-ul">
    <% if defined?(Devise) %>
    <% if admin_user_signed_in? %>
    <li>
      <%= link_to "Admin", admin_dashboard_path %>
    </li>
    <% end %>
    <% end %>
    <li>
      <%= link_to "Categories", categories_path %>
    </li>
    <li>
      <%= link_to "Products", products_path %>
    </li>
  </ul>
  
  <div class="clearfix"></div>
  
</nav>
