@import "variables";

$light-color: $alizarin;
$dark-color: $pomegranate;

.games {
  .panel-primary > .panel-heading {
    background-color: $light-color;
    border-color: $light-color;
  }
  
  .panel-primary {
    border-color: $light-color;
  }
  
  .color-header {
    background-color: $light-color;
  }
  
  .btn-primary {
    background-color: darken($dark-color, 20%);
    border-color: darken($dark-color, 20%);
  }
  
  .btn-primary:hover {
    background-color: darken($dark-color, 40%);
    border-color: darken($dark-color, 40%);
  }
  
  a {
    color: $light-color;
  }
  
  a:hover {
    color: $dark-color;
  }
  
  .category-item {
    border-color: $light-color;
  }
}

.category-list li.games a {
  border-color: $light-color;
}