@import "variables";

$light-color: $alizarin;
$dark-color: $pomegranate;

.games {
  .panel-primary > .panel-heading {
    background-color: $light-color;
    border-color: $light-color;
  }
  
  .panel-primary {
    border-color: $light-color;
  }
}