@import "variables";

.hidden-field {
  display: none;
}

.approval-table tr:nth-child(4n+1), .approval-table tr:nth-child(4n)  {
    background: #f9f9f9;
}

.color-header {
  background: $peter-river;
  color: $clouds;
  padding: 19.5px 0 0 0;
}

.color-box {
  padding: 30px 0 20px 0;
}

.page-name {
  margin: 0;
  font-size: 32px;
}

.page-name a:hover {
  text-decoration: none; 
}

.page-name .editable-click.editable-disabled,
.page-name a.editable-click.editable-disabled,
.page-name a.editable-click.editable-disabled:hover {
  //color: $clouds;
}

#main-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel-title a:hover {
  color: $clouds;
}

.no-margin {
  margin: 0 !important;
}

// Navigation

.nav-ul {
  list-style:none;
  margin: 0 -15px;;
  padding-left: 0;
}

.nav-ul li {
  float: left;
}

.nav-ul li a {
  display: block;
  padding: 19.5px 15px;
  color: $clouds;
}

.nav-ul li a:hover {
  color: $clouds;
}

// Category list

.category-list {
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}

.category-list li {}

.category-list li a {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid $clouds;
}

.category-icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}

.category-name {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}

// Search

#search-icon {
  cursor: pointer;
  padding: 15px;
  margin-top: -15px;
}

.home-search-box {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.home-search-button {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
}

// Footer 

#footer {
  padding: 30px 0;
}

// Ads

.top-ad-box {
  padding: 0 0 19.5px 0;
}

// Override bootstrap

.navbar-brand {
  padding-left: 0 !important;
  float: none !important;
  color: $clouds !important;
}

.navbar-toggle {
  margin-right: 0 !important;
}

.badge {
  background-color: $clouds !important;
  color: #555 !important;
  font-weight: normal !important;
}


.page-header {
  border-bottom: 1px solid #eee !important;
  margin-top: 0 !important;
}


// Turbolinks

html.turbolinks-progress-bar::before {
  background-color: #fff !important;
}

// Font scaling

.fa-2x {
  font-size: 2em !important;
}

.fa-3x {
  font-size: 3em !important;
}

.fa-4x {
  font-size: 4em !important;
}

.fa-5x {
  font-size: 5em !important;
}

// Search

.search-url {
  color: #1C9845;
}