.panel-primary > .panel-heading {
  background-color: $light-color;
  border-color: $light-color;
}

.panel-primary {
  border-color: $light-color;
}

  .color-header {
  background-color: $light-color;
}

.btn-primary {
  background-color: darken($dark-color, 20%);
  border-color: darken($dark-color, 20%);

  &:hover, &:focus {
    background-color: darken($dark-color, 40%);
    border-color: darken($dark-color, 40%);
  }
}

a {
  color: $light-color;
  
  &:hover, &:focus {
    color: $dark-color;
  }
}

a.list-group-item {
  color: $light-color !important;
  
  &:hover, &:focus {
    color: $dark-color !important;
  }
}

.category-item {
  border-color: $light-color;
  
  &:hover, &:focus {
    background-color: $light-color;
    color: #fff;
    text-decoration: none;
  }
}

.dark-color {
  color: $dark-color;
}

.light-color {
  color: $light-color; 
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid $light-color;
  background: $light-color 50% 50% repeat-x;
}

.pagination > li > a, .pagination > li > span {
  background-color: $light-color !important;
}

.pagination > .active > a, .pagination > .active > a:hover, 
.pagination > .active > a:focus, .pagination > .active > span, 
.pagination > .active > span:hover, .pagination > .active > span:focus,
.pagination a:hover {
  background-color: $dark-color !important;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, .pagination > .disabled > a, 
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: $light-color !important;
}