@import "variables";

.hidden-field {
  display: none;
}

.approval-table tr:nth-child(4n+1), .approval-table tr:nth-child(4n)  {
    background: #f9f9f9;
}

.color-header {
  background: $peter-river;
  color: $clouds;
  //padding: 20px 0;
}

.color-box {
  padding: 30px 0 20px 0;
}

.page-name {
  margin: 0;
  font-size: 32px;
}

.page-name .editable-click.editable-disabled,
.page-name a.editable-click.editable-disabled,
.page-name a.editable-click.editable-disabled:hover {
  color: #ECF0F1;
}

#main-container {
  margin-top: 30px;
}

// Override bootstrap

.navbar-brand {
  padding-left: 0 !important;
}

.navbar-toggle {
  margin-right: 0 !important;
}

.badge {
  background-color: $clouds !important;
  color: #555 !important;
  font-weight: normal !important;
}

// Turbolinks

html.turbolinks-progress-bar::before {
  background-color: #fff !important;
}