@import "variables";

.hidden-field {
  display: none;
}

.approval-table tr:nth-child(4n+1), .approval-table tr:nth-child(4n)  {
    background: #f9f9f9;
}

.color-header {
  background: $peter-river;
  color: $clouds;
  padding: 19.5px 0 0 0;
}

.color-box {
  padding: 30px 0 20px 0;
}

.page-name {
  margin: 0;
  font-size: 32px;
}

.page-name .editable-click.editable-disabled,
.page-name a.editable-click.editable-disabled,
.page-name a.editable-click.editable-disabled:hover {
  color: $clouds;
}

#main-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel-title a:hover {
  color: $clouds;
}

// Navigation

.nav-ul {
  list-style:none;
  margin: 0 -15px;;
  padding-left: 0;
}

.nav-ul li {
  float: left;
}

.nav-ul li a {
  display: block;
  padding: 19.5px 15px;
  color: $clouds;
}

.nav-ul li a:hover {
  color: $clouds;
}

// Search

#search-icon {
  cursor: pointer;
  padding: 15px;
  margin-top: -15px;
}

.home-search-box {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.home-search-button {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
}

// Footer 

#footer {
  padding: 30px 0;
}

// Ads

.top-ad-box {
  padding: 0 0 19.5px 0;
}

// Override bootstrap

.navbar-brand {
  padding-left: 0 !important;
  float: none !important;
  color: $clouds !important;
}

.navbar-toggle {
  margin-right: 0 !important;
}

.badge {
  background-color: $clouds !important;
  color: #555 !important;
  font-weight: normal !important;
}

// Turbolinks

html.turbolinks-progress-bar::before {
  background-color: #fff !important;
}