<% provide(:title, "All Category Release Dates" )%>
<% provide(:description, "Find release dates for #{get_categories}." )%>
<% provide(:page_name, "Categories") %>

<div class="row">
  <% count = 0 %>
  <% 2.times do %>
  <div class="col-md-6">
    <ul class="category-list">
      <% @categories.each do |category| %>
        <% if count % 2 == 0 %>
    
          <li class="<%= category.name.downcase %>">
            <a href="<%= category_path(category) %>" class="category-item"> 
              <span class="category-icon">
                <i class="<%= category.icon %> fa-3x"></i>
              </span>
              <span class="category-name">
                <%= category.name  %>
              </span>
            </a>
          </li>
    
        <% end %>
        <% count = count + 1 %>
      <% end %>
    </ul>
    <% count = 1 %>
  </div>
  <% end %>
</div>
