<% provide(:body_class, @category.name.downcase)%>
<% provide(:page_name, @category.name) %>

<div class="row">
  <div class="col-md-2 col-md-push-10" id="button-col">
    <button id="add-product-button" class="btn btn-primary">
      Add Product
    </button>
  </div>
  <div class="col-md-10 col-md-pull-2">
    <div id="product-list">
      <div class="new-product-entry">

      </div>
      <% @products.each do |product| %>
      <div>
        <%= link_to product.name, product_path(product) %>
      </div>
      <% end %>
    </div>
  </div>

</div>

<div>
  <%= paginate @products %>
</div>

<%= content_tag :div, class: "temp_information", data: {category_id: @category.id} do end %>
