<% provide(:page_name, "Products") %>

<div id="product-list">
  <% @products.each do |product| %>
  <div>
    <%= link_to product.name, product_path(product) %>
  </div>
  <% end %>

  <div class="new-product-entry">

  </div>
</div>

<button id="add-product-button" class="btn btn-primary">
  Add Product
</button>