<h1><%= @product.name %></h1>

<% @releases.each do |release| %>
<div>
  <%= release.region.name %> /
  <%= release.launch_date.launch_date %> /
  <%= release.medium.name %>
</div>
<% end %>
<a href="#" class="editable" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>
